:host {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    margin-top: 10px;
  }

  .children-container{
    // background-color: rgb(248, 248, 248);
    // margin-left: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
  }

  .category-item {
    width:500px ;
    height: 100px;
  }
  